/* FIRST */

* { padding: 0; margin: 0; }
html, body { margin: 0; padding: 0; }
body { font: 62.5% Georgia, Times, serif; background: #F0F0F0;}

p { margin: 3px 0px 7px 0px;}
p.info {margin: 7px 0px 15px 0px; font-style: italic;}


ul, ol {margin-left: 30px;}



a { color: #202080; text-decoration: none; }
a:hover { color: #2020F0; text-decoration: underline; }

a img { border: none; text-decoration: none;} /* ie fix*/
a img, a:visited img, a:hover img, a img:hover, img+a, img+a:hover { border: none; text-decoration: none;}


/* H */
h1 {font-size: 14pt; font-weight: normal; margin: 0 0 5px 0;}
div.admin-header h1 {font-size: 16pt; margin: 0; font-weight: normal;}
h1.content {}
h2 {font-size: 11pt; margin: 5px 0;}
h3 {font-size: 10pt; margin: 5px 0;}
h4 {font-size: 9pt; margin: 3px 0;}
h5 {font-size: 8pt; margin: 3px 0;}
h6 {font-size: 7pt; margin: 3px 0;}


/* STRUCTURE */

#container {font-size: 9pt; width: 100%;}

div.admin-header {background: #202020 url(images/maxsitelogo.png) no-repeat right 3px; color: white; margin: 0 0 15px 0; }
div.admin-header a {color: white; }

div.navline h1 {padding: 15px 0 10px 20px; margin: 0;}
div.navline a {font-style: italic;}

div.menu {padding: 0 0 0 10px; background: #414141; height: 31px;}


div.admin-content {margin: 0; padding: 10px 20px; }
div.admin-content h1 {margin: 0; border-bottom: 1px #404040 dotted; font-style: italic;}

div.adm1in-menu {width: 250px; background: #202020; color: white; float: left; border-right: 2px #4472C5 solid;}
div.adm1in-menu div.r {padding: 10px 0 10px 0;}

div.admin-footer {clear: both; background: #202020; color: white; padding: 10px 20px; }
div.admin-footer a {color: white;}


div.admin-widget {margin: 0; border: 2px solid #404040; padding: 20px; text-align: center; color: #404040; -moz-border-radius: 10px; background: #F9FFEE;}

ul.adm2in-menu {margin: 0 0 0 10px;}
ul.adm2in-menu li {padding-top: 3px;  font-size: 10pt; }
ul.adm2in-submenu {list-style-type: square;}
ul.adm2in-menu li.admin-menu-top { font-size: 14pt; list-style-type: none; padding-top: 10px;}

li.ad2min-menu-selected a {text-decoration: underline;}

ul.widgets-allow {line-height: 2.1em;}
ul.widgets-allow b {font-size: 10pt;}

div.admin-h-menu {padding: 10px; background: #A0A0A0; color: white; margin-bottom: 10px; }
div.admin-h-menu a {color: white;}
div.admin-h-menu a.select {text-decoration: underline; font-size: 1.5em;}

table.page td {padding: 7px;}
table.page td.alt {}
table.page th {padding: 8px;  background: #404040; color: white;}
table.page tr {background: white;}
table.page tr.alt {background: white;}

div.section {background: #dddddd; margin: -7px; padding: 5px; height: 1.4em; font-weight: bold; font-style: italic; border-top: 12px solid white;}
div.section h2 {margin: 0; line-height: 1em;}

input.f_header {width: 99%; border: 1px solid #CCCCCC; margin: 5px auto 5px auto; padding: 2px; font-size: 18pt;}

div.update {padding: 10px; background: #209920; margin-bottom: 10px; color: white;}
div.update a {color: white;}
div.error {padding: 10px; background: #FF2020; margin-bottom: 10px; color: white;}

.gray {color: gray;}
.gray a {color: gray;}

div.block_page {background: #E0E0E0; border: #A0A0A0 1px solid; margin: 0 0 10px 0; padding: 5px 10px 10px 10px; -moz-border-radius: 10px;}
div.block_page h3 {border-bottom: #202020 1px solid; margin: 0 0 10px 0; color: #202020;}
div.block_page p {margin: 0;}

div.page_meta {background: #EEEEEE; border-color: silver; -moz-border-radius: 0px;}
div.page_meta h3 {border: none; color: #404040; margin: 0 0 3px 0;}
div.page_meta div {background: #D0D0D0; margin: 10px 0 10px 0; border: #EEEEEE 1px solid; padding: 5px 10px; -moz-border-radius: 10px;}
div.page_meta p {font-style: italic;}



div.page_files {}

div.page_files div.frame {height: 470px; width: auto; overflow: auto;}
*html div.page_files div.frame {overflow: scroll;}
*+html div.page_files div.frame {overflow: scroll;}

div.page_files div.frame table {background: #F0F0F0;}
div.page_files div.frame table td {background: #E0E0E0;}
*html div.page_files div.frame table {width: 96%;}
*+html div.page_files div.frame table {width: 96%;}

div.page_files div.frame input {width: 99%;}
*html div.page_files div.frame input {width: 500px;}
*+html div.page_files div.frame input {width: 500px;}

div.page_files div.frame input.check_files {width: auto;}
div.page_files div.frame #gallerycodeclick {width: auto;}




div.cat_page ul {list-style-type: none; margin-left: 0px;}
div.cat_page ul ul {margin-left: 20px;}

div.admin-edit-widgets {margin-bottom: 30px; padding: 5px 10px 10px 10px; background: #D0D0D0; -moz-border-radius: 10px;}
div.admin-edit-widgets h2 {font-size: 1.8em; font-style: italic; font-weight: normal;} 
div.admin-edit-widgets-form {border: #A0A0A0 1px solid; margin: 10px 0 10px 0; padding: 10px 10px 10px 10px; background: white; -moz-border-radius: 10px; border-bottom: #707070 1px solid; border-right: #707070 1px solid;}
div.admin-edit-widgets-form h3 {color: #0D419B;}
div.admin-edit-widgets-form input {width: 50px; font: 10pt Courier New, mono;}
div.admin-edit-widgets-form input[type='checkbox'] {width: auto;}

div.admin-edit-widgets-form textarea {width: 500px;}
div.admin-edit-widgets-form select {width: 500px;}

div.ushki {background: #C0C0C0 !important; border: 1px solid #A0A0A0 !important;}

div.t150, div.t200, div.t250 {width: 200px; text-align: right; float: left; margin: 0 5px; font-weight: bold;}
div.t200 {width: 200px;}
div.t250 {width: 200px;}

div.admin_plugin_options {border: 1px gray solid; background: #E0E0E0; padding: 5px; margin: 0 0 15px 0; line-height: 1.5em;}
div.admin_plugin_options strong {}
div.admin_plugin_options input {width: 99%;}
div.admin_plugin_options input.checkbox { width: auto;}
div.admin_plugin_options textarea { width: 99%;}
div.admin_plugin_options select { width: 99%;}

/* поля форм */
input, select {vertical-align: middle;}
textarea {overflow: auto;}
input[type="radio"], input[type="checkbox"] {margin: 0; padding: 0; position: relative; top: 1px; cursor: pointer; vertical-align: text-top;} 
*+html input[type="submit"], *+html input[type="reset"], *+html input[type="button"]  {overflow: visible;} /*IE7*/

label {cursor: pointer;}
textarea {width:99%}
table input[type=text] {width:99%}
td select  {width:99%}
select {max-width:99%}

td select  {width:99%}
th {text-align:left}
table.new_or_edit {width: 99%; border: none; line-height: 1.4em;}
	td.editor_and_meta {padding: 0 10px 0;vertical-align: top;}
	td.page_info {width: 250px;vertical-align: top;}
#wysiwyg {width: 100%} /* редактор */
td.editor_and_meta > div {margin-bottom: 10px} /* блоки под редактором */
td.editor_and_meta > div > p label {margin-right: 10px}
#pagetable {width: 99%; margin: 10px 0} /* список всех страниц */
#pagetable + form {margin:10px 0}
#comments_content {width: 99%; height: 150px;}
.template {float: left; margin: 5px 5px 10px 5px; border: 1px silver solid; border-right: 3px gray solid; border-bottom: 3px #676767 solid; padding: 0px 10px; width: 280px; height: 340px; text-align: center; position: relative;}
.template_noimage {margin: 0 auto; width: 250px; height: 200px; background: #f0f0f0; border: 1px solid silver;}
.cats {width: 100%; border-collapse: collapse;}
.cats colgroup {padding: 0 4px;}
.cats td {text-align: center; vertical-align:top}
	td sub {color: gray}
.plugin_on {color: green}
.new_cat_upload {margin: 20px 0; padding: 5px 10px 5px 10px; border: 1px solid gray;}
.upload_file {margin: 20px 0; padding: 5px 10px 15px 10px; border: 1px solid gray;}
.description_file {width: 380px}
.cornerz {float: left; margin: 5px 5px 10px 5px; border: 1px #808080 solid; padding: 10px 5px; width: 230px; min-height: 230px; text-align: center; position: relative;}
.edit_descr {width:220px; margin:5px auto}
.edit_descr textarea {height:4em; margin-bottom:.5em}
.cornerz label {font-weight:bold}
.file_img {max-width: 100px; margin: 5px auto; display: block;}
/* toolbox */
.item {margin:20px 0 10px}
.item h2 {padding:0 0 10px}
.item p.input strong, .item p.textarea strong {display:inline-block; width:7em; vertical-align:middle}
.item p.textarea strong {vertical-align:top; padding-top:.2em}
.item p.input input[type='text'], .item p.input input[type='password'], .item textarea {width:350px}
.item select {max-width:350px}
.item p.short input[type='text'] {width:100px}
.item p.checkbox {padding-left:7em}
.item p.wleft strong {margin-left:-7em}
.item p.input_submit {margin:0 0 0 7em}
.item.usergroup p.input strong {width:11em}
.item.usergroup p.input_submit {margin:0 0 0 11em}
.item.usergroup p.checkbox {padding-left:11em}
.item.usergroup p.wleft strong {margin-left:-11em}
.br, .item p.br {margin-top:1.5em}
.red {color:red}
.float-parent {width:100%; overflow:hidden}
/* plugins */
.ushki {border: 1px solid #C3DAF9; padding: 10px; margin: 10px 0; background: #C3DAF9;}

div.float-parent div.cornerz div.wrap {overflow: auto;}
div.admin_files_nav strong {font-size: 1.5em;}

p.nav{color:white;font-size:0;line-height:25px;margin:0;}
p.nav a{background:#EEE;padding:5px 5px;margin:0 3px;font-size:10pt;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;white-space:nowrap;}
p.nav a:hover{background:#999;text-decoration:none;color:#333;}
p.nav a.current{background:#666;color:#fff;}
p.nav a.current:hover{background:#999;}
