// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('components/menu-icons.less');


// компонент 
div.menu-icons {
	
	.bg(#eee);

	> div.wrap {

	}

	div.r1 {
		.left;
	}

	div.r2 {
		.right;
		width: auto;
		
		// социконки отдельно
		@import url('components/_social.less');
		.social("../images/social/", 16px, 16px, 80);
		
		// или можно отдельно
		div.social {
			padding: 10px 10px 0  0; // выровнять
		}
	}
 
}