div.header {display: none;}
div.sidebar {display: none;}
div.footer {display: none;}
div.page_other_pages {display: none;}
div.type_page_comments {display: none;}
div.addzakl {display: none;}
#rater {display: none;}
div.pagination {display: none;}