// MaxSite CMS
// Copyright http://max-3000.com/


// всё что касается базовой настройки виджетов

div.widget {
	
	width:90%;
	margin:0 auto;
	margin-top:20px;
	margin_bottom:20px;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	-ms-border-radius: 10px; 
	-o-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid; 
	border-color: #ddd #bbb #999; 
	.background_gradient (#9cbfd8, #c9e0f0);
	.box_shadow(3px, 3px, 3px, #045c8c);
	
	// wrap-блок виджета
	div.w0 {
	margin:10px 10px 10px 10px;
	}
	
	// заголовок виджета
	div.widget_header,
	h2.box {
	font-size:12pt;
	background:#F5F5F5;
	margin:-10px -10px 10px -10px;
	padding:5px;
	//border-radius: 10px;
	.border_radius(10px, 10px, 0, 0)
	}
}

// список виджета
// см. mso-style.less
ul.is_link {
	
	ul {
	list-style:none;
	}
	
	li {
		
	}
	
	// подпункт
	li li {

	}
}