// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('layouts/layout01.less');


// *********** МОДЕЛЬ СТРУКТУРЫ 

.layout(
		@content: 960px, // общая ширина сайта
		@sidebar: 250px // сайдбар
	)
{
	
	body {
		
	}
	
	div.all {
		margin: 0 auto;
		width: 100%;
		max-width: @content;
		
		.bg(#888, 'paper_school.jpg');
	}
	
	div.all-wrap {
		
	}
	
	div.header {

	}
	
	div.main {
		
	}
	
	div.content {
		width: @RATIO_CONTENT;
		float: right;
		.bgu("../images/backgrounds/back_component_carusel.png", repeat-x);
		div.content-wrap {
			margin: 20px 20px 20px 20px;
		}
	}
	
	div.sidebar1 {
		width: @RATIO_SIDEBAR;
		float: left;
		.bgu("../images/backgrounds/back_component_carusel.png", repeat-x);
		
		div.widget:first-child {
			position:relative;
			margin-top:100px;
		}
		
		div.sidebar1-wrap {
			margin: 20px 20px 0 0;
		}
		
	}
	
	div.footer {
		background: #555;
		
		div.footer-wrap {
			padding: 20px;
			color: #aaa;
			
			a {
				color: #aaa;
			}
		}
	}
	
	// стили для no-sidebar (это main-шаблон вывода записи без сайдбара)
	body.no-sidebar {
	
		div.content {
			width: 100%;
			float: none;
			
			div.content-wrap {
				margin: 20px;
			}
		}
	}
		
} // .layout


.layout(@CONTENT_WIDTH, @SIDEBAR_WIDTH);
