// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('layouts/layout01.less');


// *********** МОДЕЛЬ СТРУКТУРЫ 

.layout(
		@content: 960px, // общая ширина сайта
		@sidebar: 250px // сайдбар
	)
{
	
	body {
		
	}
	
	div.all {
		width: 100%;
	}
	
	div.all-wrap {
		.bg(#888,"back.jpg");
	}
	
	div.header {
		background: #F5F5F5;
		
		div.header-wrap {
		width: @content;
		margin: 0 auto;
		//background:white;
		}
	}
	
	div.main {
		
		.bgu("../images/backgrounds/back_component_carusel.png", repeat-x);
	
		div.main-wrap {
		
		width: @content;
		margin: 0 auto;
		background:white;
		//.bgu("../images/backgrounds/sidebar_column.jpg", repeat-y);
		}
	}
	
	div.content {
		width: @content - @sidebar;
		float: right;
		.bgu("../images/backgrounds/back_component_carusel.png", repeat-x);
		div.content-wrap {
			margin: 20px 20px 20px 20px;
		}
	}
	
	div.sidebar1 {
		width: @sidebar;
		float: left;
		.bgu("../images/backgrounds/back_component_carusel.png", repeat-x);
		
		div.widget:first-child {
			position:relative;
			margin-top:50px;
		}
		
		div.sidebar1-wrap {
			margin: 20px 10px 20px 10px;
		}
	}
	
	div.footer {
		background: #253b7c;
		//#243b7c; 
		
		div.footer-wrap {
			padding: 20px;
			color: #aaa;
			
			a {
				color: #aaa;
			}
		}
	}
	
	// стили для no-sidebar (это main-шаблон вывода записи без сайдбара)
	body.no-sidebar div.content {
		width: 100%;
		float: none;
	}
	
	
} // .layout


.layout(@CONTENT_WIDTH, @SIDEBAR_WIDTH);
