// MaxSite CMS
// Copyright 


.category_with_pages_widget{

	
.is_link {
	margin: 0; padding: 0; position: relative; word-spacing: -0.25em; 
	
	li {
	border-bottom:1px solid #253b7c;  display:block; list-style: none; margin: 0; padding: 0; text-align: left; vertical-align: top; word-spacing: normal; 
	
	}
	
	a {color: #666; display: block; font: 10pt Arial, Helvetica, sans-serif; padding: 10px 20px 10px 10px; text-align: left; text-decoration: none; position:relative 
	
		&:hover { background: #eee; color: #000; text-decoration: none; text-shadow: 0 1px 0 #fff; }
	
	}
	
	.active { background: #eee; color: #000; }
	
	&>li:last-child {
		
		border:0;
	
	}
	
	ul { 
	
		background: #fff; border: 1px solid #c2c2c2; border-radius: 5px; box-shadow: 0 5px 10px rgba(0,0,0,0.2); top: 0; display: none; left: 0; margin: 0; //margin: 1px 0 0 0; padding: 0; position: absolute; top: 0; z-index:2; 
	
		li {display: block; list-style: none; margin: 0; padding: 0;  border:0; width:100%;}
		
		a { display: block; border-radius: 5px;  }
	}
	
	.arrow-left { 
	border-bottom: 5px solid transparent; border-right: 5px solid #fff; border-top: 5px solid transparent; height: 0; left: -4px; position: absolute; top: 0; width: 0; z-index: 1; 
	}
	
	.arrow-left2 { 
	border-bottom: 5px solid transparent; border-right: 5px solid #c2c2c2; border-top: 5px solid transparent; height: 0; left: -5px; position: absolute; top: 0; width: 0; z-index: 0; 
	}
	
	.toLeft .arrow-left { border-left: 5px solid #fff; border-right: 0; left: auto; right: -4px; }
	
	.toLeft .arrow-left2 { border-left: 5px solid #c2c2c2; border-right: 0; left: auto; right: -5px; }

	.arrow-right {width: 0; height: 0; border-top: 4px solid transparent;border-bottom: 4px solid transparent;	border-left: 4px solid #666; position:absolute; top:13px; right:8px;}
	
}
		
		
}
