// MaxSite CMS 
// Copyright http://max-3000.com/
// mso-headers.less



h1 {
	font-size: 36px; 
	margin: 10px 0; 
	font-weight: normal; 
	line-height: 1.2em;
	
	&.first {
		margin: 10px 0 5px 0;
	}

	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

h2 {
	font-size: 24px; 
	margin: 10px 0; 
	font-weight: normal; 
	line-height: 1.2em;
	
	&.first, div.page_only &.first {
		margin: 5px 0;
	}
	
	div.page_only & {
		margin-top: 30px;
	}

	div.page_only &.page_title {
		margin: 10px 0;
	}
	
	&.page_title {
		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

h3 {
	font-size: 18px; 
	margin: 10px 0; 
	font-weight: bold;
	
	&.first {
		margin: 5px 0;
	}
}

h4 {
	font-size: 16px; 
	margin: 10px 0; 
	font-weight: bold;
	
	&.first {
		margin: 5px 0;
	}
}

h5 {
	font-size: 14px; 
	margin: 10px 0; 
	font-weight: bold;
	
	&.first {
		margin: 5px 0;
	}
}

h6 {
	font-size: 12px; 
	margin: 10px 0; 
	font-weight: bold;
	
	&.first {
		margin: 5px 0;
	}
}