// MaxSite CMS 
// Copyright http://max-3000.com/
// mso-menu-vertical.less


// меню выпадающее
div.MainMenu {
	height: 35px; 
	line-height: 35px;
}

ul.menu, 
ul.menu li, 
ul.menu ul {
	list-style: none; 
	margin: 0; 
	padding: 0;
}

ul.menu {	
	position: relative; 
	z-index: 7; 
	float: left; 
	width: 100%;

	li {
		float: left; 
		height: 35px; 
		line-height: 35px; 
		vertical-align: middle; 
		position: relative;
	}
	
	li.hover, 
	ul.menu li:hover {
		position: relative; 
		z-index: 8;
	}
	
	ul {
		visibility: hidden; 
		position: absolute; 
		top: 100%; 
		left: 0; 
		z-index: 8; 
		width: 100%;
		
		li {
			float: none; 
			height: auto;
		}
		
		ul {
			top: 1px; 
			left: 99%;
		}
	}
	
	li:hover > ul {
		visibility: visible;
	}
	
	li {
		// верхние пункты
		a {
			display: block;
			text-decoration: none; 
			padding: 0 5px; 
			font-weight: bold;
			
			span {
				display: block;
			}
		}
		
		&.group a span {
			padding-right: 15px; 
			background: ~'url("../images/menu-down-light.png")' no-repeat right center;
		}
		
		// подпункты
		&.group ul {
			width: auto; 
			min-width: 150px;
			
			li {
				white-space: nowrap;
			}
			
			li a {
				margin: 0; 
				background: #E0E0E0; 
				color: #404040; 
				border-top: 1px solid #A0A0A0; 
				font-weight: normal;
				
				&:hover {
					color: white; 
					background: #A0A0A0;
				}
				
				span {
					background: none;
				}
			
			}
		}
	}
}