body{color:#2E4A4B;background-color:#BED7DC;}
div.content{background:#FFFFFF;}
a{color:#011D1E;}
a:hover{color:#2E4A4B;}
div.all-wrap{background:#FFFFFF;color:#2E4A4B;margin-top:20px;border-radius:10px 10px 0 0;}
div.main{background:#FFFFFF;color:#2E4A4B;}
h1{color:#011D1E;text-shadow:silver 0 0 4px;}
h1 a{color:#011D1E;}
h1 a:hover{color:#2E4A4B;}
h1.category{background:#011D1E;color:#E2FEFF;}
div.type_home_cat_block div.header_home_cat{background:#011D1E;}
div.type_home_cat_block div.header_home_cat a{color:#E2FEFF;}
div.footer{background:#2E4A4B;color:#FFFFFF;}
h2.sitemap{background:#011D1E;color:#FFFFFF;}
div.leave_a_comment{background:#5A797A;border-color:#5A797A;color:#E2FEFF;}
div.page_comments_count{background:#5A797A;border-color:#5A797A;color:#E2FEFF;}
div.comment-info{background:#FFFFFF;color:#011D1E;}
div.comments div.comments_content{background:#FFFFFF;color:#2E4A4B;}
div.comment-form{background:#CDD8D8;color:#3E5455;}
div.page_other_pages_header{background:#5A797A;border-color:#5A797A;color:#E2FEFF;}
code,pre,blockquote{background:#DCEAEB;color:#2E4A4B;border:1px solid #DCEAEB;padding:10px;}
dt{background:#DCEAEB;}
dd{background:#DCEAEB;}
table th{background:#DCEAEB;}
div.MainMenu{background:#2E4A4B;}
ul.menu li.selected a{background:#011D1E;}
ul.menu li a:hover{background:#011D1E;}
div.pagination strong{background:#BED7DC;}
div.widget{background:#CDD8D8;border-radius:10px;box-shadow:silver 0 0 5px;}
div.widget div.w0{padding:10px;}
div.widget a{text-decoration:none;}
div.widget a:hover{text-decoration:underline;}
div.component-text-and-image{background:#BEE2E3;background:-webkit-linear-gradient(#618F91,#BEE2E3);background:-moz-linear-gradient(#618F91,#BEE2E3);margin-top:-5px;}
/* tabs */div.tabs-box{background:none;border:0;}
ul.tabs-nav li.elem{background:#96AABE;color:white;border-radius:6px;padding:0 3px;}
ul.tabs-nav li.elem:hover,ul.tabs-nav li.tabs-current{color:#888;background:#B6C8DA;}


