.nivoSlider {position: relative; width: 100%; height: 250px; overflow: hidden;} 
.nivoSlider img {position: absolute; top: 0; left: 0; display: none;} 
.nivo-slice {display: block; position: absolute; z-index: 5; height: 100%;}
.nivo-box {display: block; position: absolute; z-index: 5;}
.nivo-directionNav a {position: absolute; top: 45%; z-index: 9; cursor: pointer;} 
.nivo-prevNav, .nivo-nextNav {padding: 10px 5px; background: #444; color: white; text-decoration: none; opacity: 0.8; }
.nivo-prevNav {left: 0; border-radius: 0 5px 5px 0;}
.nivo-nextNav {right: 0; border-radius: 5px 0 0 5px;}