ul.admin-menu.admin-menu-beginning li.admin-menu-top a.admin-menu-section {background-color: #B9201A; color: white;}
ul.admin-menu.admin-menu-page li.admin-menu-top a.admin-menu-section {background-color: #DC772F; color: white;}
ul.admin-menu.admin-menu-options li.admin-menu-top a.admin-menu-section {background-color: #2FC923; color: white;}
ul.admin-menu.admin-menu-users li.admin-menu-top a.admin-menu-section {background-color: #4670EA; color: white;}
ul.admin-menu.admin-menu-plugins li.admin-menu-top a.admin-menu-section {background-color: #DD30D9; color: white;}
