body{
 background:#DDD}
a{
 color:#0E5FBF;
 text-decoration:underline}
a:hover{
 color:red}
div.widget a{
 text-decoration:none}
div.sitemap a{
 text-decoration:none}
div.type_comments a{
 text-decoration:none}
div.page_other_pages a{
 text-decoration:none}
a.curent-page-cat{
 font-weight:bold}
h1{
 color:#101010}
h1 a{
 color:#101010}
h1 a:hover{
 color:red}
h1.category{
 font-size:2.0em;
 text-transform:uppercase;
 margin:0 0 15px 0;
 padding:5px 10px;
 background:#192849;
 color:white;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px}
div.header{
 min-width:960px}
div.header-menu-top div.wrap,
div.header-logo div.wrap,
div.header-menu div.wrap,
div.footer-top div.wrap{
 width:960px;
 margin:0 auto 0 auto}
div.header-menu-top{
 background:#404040}
div.header-menu-top div.wrap div.r1{
 width:690px}
div.header-menu-top div.wrap div.r1 ul.menu li{
 height:25px;
 line-height:25px}
div.header-menu-top div.wrap div.r1 ul.menu li a{
 font-weight:normal;
 font-size:9pt;
 padding:0 10px 0 0}
div.header-menu-top div.wrap div.r1 ul.menu li a:hover{
 background:none;
 color:yellow}
div.header-menu-top div.wrap div.r1 ul.menu li.selected a{
 background:none;
 color:yellow}
div.header-menu-top div.wrap div.r2{
 width:270px;
 text-align:right;
 line-height:25px}
div.header-menu-top div.wrap div.r2 img{
 margin-left:2px}
div.header-logo{
 background-color:#214A88;
 background-repeat:repeat-x;
 background-image:-khtml-gradient(linear,left top,left bottom,from(#193C70),to(#214A88));
 background-image:-moz-linear-gradient(top,#193C70,#214A88);
 background-image:-ms-linear-gradient(top,#193C70,#214A88);
 background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#193C70),color-stop(100%,#214A88));
 background-image:-webkit-linear-gradient(top,#193C70,#214A88);
 background-image:-o-linear-gradient(top,#193C70,#214A88);
 background-image:linear-gradient(top,#193C70,#214A88);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#193c70',endColorstr='#214a88',GradientType=0);
 color:#EBEBEB}
div.header-logo div.wrap div.r1{
 width:50%}
div.header-menu{
 background:#15325D}
div.header-menu div.wrap div.r1{
 width:690px}
div.header-menu div.wrap div.r2{
 width:270px}
div.header-menu div.wrap div.r2 form.fform p{
 line-height:35px;
 padding:0}
div.header-menu div.wrap div.r2 form.fform span.fsubmit{
 width:60px}
div.header-menu div.wrap div.r2 form.fform span.fsubmit input{
 width:100%}
div.main{
 width:960px;
 margin:0 auto}
div.content{
 width:710px;
 margin:0 250px 0 0;
 float:left}
div.content-wrap{
 margin:20px 10px 10px 0px;
 padding:10px 15px;
 background:white}
div.sidebar{
 width:250px;
 float:right;
 margin:20px 0 0 -250px}
div.sidebar1-wrap{
 padding:10px 15px;
 background:white}
div.MainMenu{
 font-size:10pt;
 padding-left:10px;
 background:#192849}
ul.menu li a{
 margin-right:8px;
 color:white}
ul.menu li a:hover{
 background:#3A4356;
 color:white}
ul.menu li.selected a{
 background:#374973}
div.page_other_pages_header,
div.page_comments_count,
div.leave_a_comment{
 font-weight:bold;
 margin:10px 0;
 padding:8px;
 background:#F0F0F0;
 border:#DDD 1px solid;
 -webkit-border-radius:8px;
 -moz-border-radius:8px;
 border-radius:8px}
div.pagination strong{
 background:#225DA3;
 color:white}
ul.tabs-nav li.elem{
 background:#EEE;
 color:#888}
ul.tabs-nav li.elem:hover,
ul.tabs-nav li.tabs-current{
 color:#3F454B;
 background:#BFC0CD}
div.type_home_cat_block div.header_home_cat{
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px}
