// MaxSite CMS 
// Copyright http://max-3000.com/


// подключение хелпера LESS
//@import "include/helpers.less";

// в своем шаблоне используйте другое подключение:
 @import url('../../default/css/less/include/helpers.less');


// дополнительные стили к style-all

body {
	background: #DDD;
}

// ССЫЛКИ
a {
	color: #0E5FBF; 
	text-decoration: underline;

	&:hover {
		color: red;
	}
	
	div.widget & {
		text-decoration: none;
	} 
	
	div.sitemap & {
		text-decoration: none;
	} 
	
	div.type_comments & {
		text-decoration: none;
	} 
	
	div.page_other_pages & {
		text-decoration: none;
	}
	
	&.curent-page-cat {
		.bold;
	}
}

// ЗАГОЛОВКИ H1
h1 {
	color: #101010;
	
	a {
		color: #101010;

		&:hover {
			color: red;
		}
	}
	
	&.category {
		font-size: 2.0em; 
		text-transform: uppercase; 
		margin: 0 0 15px 0; 
		padding: 5px 10px; 
		background: #192849; 
		color: white;
		.border_radius(10px);
	}
}
 
// СТРУКТУРА САЙТА

@all_width: 960px;
@sidebar_width: 250px;

//div.all-wrap {
//	width: @all_width; 
//	margin: 0 auto; 
//	background: white; 
//	.box_shadow(0, 0, 7px, #606060);
//}

div.header {
	min-width: @all_width; 
//	margin: 0 auto;
}


div.header-menu-top,
div.header-logo,
div.header-menu,
div.footer-top
 {
    div.wrap {
        width: @all_width;
        .block_center();
    }
}

div.header-menu-top {
	
	background:#404040;
    div.wrap {
        div.r1 {
            width: 690px;
		
			ul.menu
				{
					@select_color:yellow;
					
					li
					{
						height:25px;
						line-height:25px;
						
						a{
							font-weight:normal;
							font-size:9pt;
							padding:0 10px 0 0;
							&:hover{
								background:none;
								color:@select_color;
							}
						}
						
						&.selected a{
							background:none;
							color:@select_color;
						}
					}
				}
        }
    
        div.r2 {
			width: 270px;
			text-align:right;
			line-height:25px;
			
			img{
				margin-left:2px;
			}
        }
    }
}



div.header-logo {
	//background: #193C70;
	.background_gradient(#193C70, #214A88);
	
    color: #EBEBEB;
    div.wrap {
        div.r1 {
            width: 50%;
        }
    
        div.r2 {
    
        }
    }
}

div.header-menu {
 
    background: #15325D;
    
    div.wrap {
        div.r1 {
            width: 690px;
        }
    
        div.r2 {
            width: 270px;
            
            form.fform {
				
				p
				{
				line-height:35px;
				padding:0;
				}
				
				
                span.fsubmit {
                    width: 60px;
                    input {width: 100%}
                }
            }
        }
    }
}

div.main {
	width: @all_width; 
	margin: 0 auto; 
	
}

div.content {
	width: @all_width - @sidebar_width; 
	margin: 0 @sidebar_width 0 0; 
	float: left;
}

div.content-wrap {
	margin: 20px 10px 10px 0px;
	padding:10px 15px;
	background:white;
}

div.sidebar {
	width: @sidebar_width; 
	float: right; 
	margin: 20px 0 0 -@sidebar_width;
}

div.sidebar1-wrap {
	padding: 10px 15px;
	background: white;
}

//div.footer {
//	width: 100%; 
//	clear: both; 
//	background: #192849; 
//	font-size: 0.9em; 
//	color: white;
//	
//	a {
//		color: white;
//	}
//}

//div.footer-wrap {
//	padding: 10px; 
//	margin: 0 auto;
//}


// МЕНЮ ВЫПАДАЮЩЕЕ (только обрамляющий блок)
div.MainMenu {
	font-size: 10pt; 
	padding-left: 10px; 
	background: #192849;
}

// верхние пункты меню
ul.menu li { 
	a {
		margin-right: 8px; 
		color: white;
	}
	
	a:hover {
		background: #3A4356; 
		color: white;
	}
	
	&.selected a {
		background: #374973;
	}
}


// ЗАПИСИ ПО ТЕМЕ И КОЛ-ВО КОММЕНТАРИЕВ 
// ОСТАВЬТЕ КОММЕНТАРИЙ!
div.page_other_pages_header, 
div.page_comments_count, 
div.leave_a_comment {
	font-weight: bold; 
	margin: 10px 0; 
	padding: 8px; 
	background: #F0F0F0; 
	.border(#DDD);
	.border_radius(8px);
}


// ПАГИНАЦИЯ ТЕКУЩАЯ СТРАНИЦА 
div.pagination strong {
	background: #225DA3; 
	color: white;
}

// ПЛАГИН ТАБЫ 
ul.tabs-nav li {
	&.elem {
		background: #EEE; 
		color: #888;
	}
	
	&.elem:hover, 
	&.tabs-current {
		color: #3F454B; 
		background: #BFC0CD;
	}
}

// вывод рубрик на главной
div.type_home_cat_block {
	
	div.header_home_cat {
		.border_radius(10px);
	}
}
