div.type_page {
	margin-top:30px;
	
	div.page_nav {
	margin-top:-20px;
	}
	
	article > header
	{
		margin: 0 0 20px 0;
		h1{
			text-shadow: #9cbfd8 3px 3px 3px; 
		}
	}
	
	div.page_content
	{
		font-size: 11pt;
		
	}
}


