// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('components/footer-3-sidebars.less');


div.footer-copy-stat {

	div.left-column-footer {
		float:left;
	}
	
	div.right-column-footer {
		float:right;
	}
	
	
}