// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('components/ns-menu-block.less');


// компонент 
div.logo-ns-descr-search {
	
	> div.wrap {
		
		margin: 0 auto;
		background: #F5F5F5;
	}

	div.r1 {
		.left;
		width: 80px;
		
		img {
			margin: 10px 0 10px 20px;
			height:110px;
		}
	}


	div.r2 {
		.left;
		width: @CONTENT_WIDTH - 320px;
		
		div.name_site {

			
			margin: 20px 0 0 25px;
			.f > size(19pt);
			.f > upper;
			.bold;
			
			a {
				.f > color(#253b7c);
				.f > underline(none);
			}
			
		}
		
		div.description_site {
			.f > i;
			.f > size(14px);
			margin: 0 0 10px 25px;
		}
	}

	div.r3 {
		.right;
		width: 240px;
		
		div.search {
			padding: 45px 0 45px  0; // выровнять
			
			form.fform
			{
				span.fbutton
				{
					width:30px;
				}
				input[type="search"]
				{
					height:30px;
				}
				button
				{
					height:30px; width:30px; min-width:30px;
					.bgu("../images/buttons/search_button.png", no-repeat);
				}
			}
		}
	}
}

