// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('components/ns-menu-block.less');


// компонент 
div.menu-align-right {
	
	> div.wrap {
		background: #F5F5F5;
	}
	
	div.r1 {
		.right;
		
		div.MainMenu
			{
			
			
			//.bg(#B86B25);
			
			ul.menu > li
			{
				margin:5px;
			}
			
			// только верхние пункты
			ul.menu > li > a {
				color: #fff;
				.f > bold;
				.f > upper;
				.f > size(10pt);
				.text_shadow(4px, 2px, 2px, rgba(0, 0, 0, 0.25));
				
				padding: 0 10px;
				
				-webkit-border-radius: 10px; 
				-moz-border-radius: 10px; 
				-ms-border-radius: 10px; 
				-o-border-radius: 10px;
				border-radius: 10px; 
				border: 2px solid; 
				border-color: #ddd #bbb #999; 
				//.bg(#E9AB6A);
				.bg(#D5A2C2);
				.transition(background-color 0.3s 0s ease-out);
				//.background_gradient (#DCA97B, #ffffff);
				.box_shadow(4px, 4px, 4px, #045c8c);
				
			}

			// выделенный пункт и при наведении - только верхние
			ul.menu > li.selected > a, 
			ul.menu > li > a:hover 
			{
				.bg(#cf68a9);
				color: #fff;
			}

			ul.menu li.group ul
			{
				.background_gradient (#9cbfd8, #c9e0f0);
			}
			
			ul.menu li.group > ul
			{
				margin-top:5px;
			}
			
			
			// только подпункты
			ul.menu li.group ul li > a {
				//.bg(#b4ecec);
				.transition(background-color 0.3s 0s ease-out);
				.f > size(10pt);
			}
			
			ul.menu li.group ul li > a:hover {
				.bg(#b4ecec);
			}
			
			// под-подпункт
			ul.menu li.group ul li.group > a span  {
				background: url("../images/bullets/menu-down-right.png") no-repeat right center;
			}
			
			}
		
	}

	
}

