// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('components/menu-search.less');


// компонент 
div.menu-search {
	
	.bg(#eee);
	
	> div.wrap {
	
	}
    
	div.r1 {
		.left;
	}
	
	div.r2 {
		.right;
		width: 240px;
		padding: 3px 10px 0 0;
	}
 
}