// MaxSite CMS
// Copyright http://max-3000.com/



div.pagination {
	.bs > pagination();
	text-align: center;

	a {
		.transition(all 0.3s 0s);
	}
}

div.pagination.pagination2 {
	.bs > pagination(15px);
}

button {
	.bs > btn();
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	.bs > inputs_shared();
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	.bs > inputs();
}