// MaxSite CMS
// Copyright http://max-3000.com/
// @import url('blocks/other.less');

// прочие блоки шаблона

// инфоблок
div.info {
	
	a {

	}
}


// записи по теме и кол-во комментариев 
// оставьте комментарий!
div.page_other_pages_header, 
div.page_comments_count, 
div.leave_a_comment
{
}

// форма логина
div.type_loginform div.loginform { 
	
	p.header {

	}
	
	p.ok {
	}

}

// архив сайта
div.sitemap {
	ul {
		list-style-type: none;
		
		ul {
			list-style-type: circle;
		}
	}
}