// MaxSite CMS
// Copyright http://max-3000.com/


// всё что касается базовой настройки виджетов

div.widget {
	
	// wrap-блок виджета
	div.w0 {
	}
	
	// заголовок виджета
	div.widget_header,
	h2.box {

	}
}

// список виджета
// см. mso-style.less
ul.is_link {
	
	ul {

	}
	
	li {

	}
	
	// подпункт
	li li {

	}
}