// форма входа в адмн-панель

@import url('../../../shared/css-less/mixins/helpers.less'); 
@import url('../../../shared/css-less/default/mso-reset.less'); // сброс стилей
@import url('../../../shared/css-less/default/mso-default.less'); // начальные стили
@import url('../../../shared/css-less/default/mso-forms.less'); // формы

body {
	background: #BDCCD3 url("images/pattern_012.png");
	color: #555;
}

div.all {
	width: 330px;
	margin: 0 auto;
	
	> div.wrap {
		margin: 80px 0 0 0;
		padding-bottom: 40px;
		.bg(#fff);
		.box_shadow(0, 0, 2px, #999);
	}
}

div.logo {
	.bg(#395766);
	padding: 15px 0 15px 25px;
}

form.fform {
	
	margin: 35px 0 0 0;
	padding: 0 25px;
	
	input.flogin_user,
	input.flogin_password
	{
		.f > size(14px);
		padding: 5px;
		margin: 0 0 15px 0;
		.border(#ddd);
		.transition(all 0.5s 0s ease);
		
		&:focus, 
		&:hover
		{
			.box_shadow(0, 0, 3px, #3399FF);
		}
	}
	
	input.flogin_user {
	}
	
	input.flogin_password {
	}
	
	button.flogin_submit {
		
		margin-top: 15px;
		height: 30px;
		
		&:before {
			content: url("images/16_unlock.png");
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}

div.goto-site {
	margin-top: -30px;
	padding-right: 25px;
	text-align: right;
	
	a {
		color: #777;
		.f > underline(none);
		
		&:hover {
			.f > underline();
		}
	}
}