@import url('../../../templates/default/css/less/include/helpers.less'); 

@import url('../../../templates/default/css/less/include/mso-reset.less');
@import url('../../../templates/default/css/less/include/mso-default.less');
@import url('../../../templates/default/css/less/include/mso-forms.less');
@import url('../../../templates/default/css/less/include/mso-helpers.less');

@import url('stock/mso-button/mso-button.less');


// http://fortawesome.github.com/Font-Awesome/
@FONTAWESOMEPATH: '../../../shared/css-less/fonts/font-awesome';
@import url('../../../shared/css-less/fonts/font-awesome/font-awesome.less'); // подключение микса


body {
	background: #F0F0F0;
}

a {
	color: #0063B7;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline; 
		color: red;
	}
}

p {
	&.admin_page_qhint { // подсказка - текст записи в списке записей
		line-height: 1.2em;
		color: #555;
	}
}

/* база заголовков */
h1 {
	font-size: 2em; 
	margin: 0 0 5px 0; 
	font-weight: normal; 
	line-height: 1.2em;
	color: #395766;
}

h2 {
	font-size: 1.4em; 
	margin: 15px 0 5px 0; 
	font-weight: normal; 
	line-height: 1.1em;
	
	&.br {
		margin-top: 25px;
	}
}

h3 {
	font-size: 1.2em; 
	margin: 15px 0 5px 0; 
	font-weight: bold;
}

h4 {
	font-size: 1.1em; 
	margin: 15px 0 5px 0; 
	font-weight: bold;
}

h5 {
	font-size: 1.0em; 
	margin: 15px 0 5px 0; 
	font-weight: bold;
}

h6 {
	font-size: .9em; 
	margin: 15px 0 5px 0; 
	font-weight: bold;
}

// шапка
@color1: #395766; // цвет фона
@color2: #DDD; // цвет текста простого
@color3: #DDD; // цвет ссылки заголовка

div.admin-header {
	font-size: 12pt; 
	.box_shadow(0, 3px);
	
	background: @color1;
	color: @color2;

	.text_shadow(1px, 1px, 1px, darken(@color2, 90%));
	
	div.r {
		padding: 10px 0 10px 10px;
		margin: 0 10px 20px 0;
		background: url("images/maxsitelogo.png") no-repeat right center;
	}
	
	h1 {
		font-size: 16pt; 
		padding: 5px 0 0 0; 
		display: inline;
		
		&:after {content: " → "}
		
		color: @color3;
		
		a {
			color: @color3;
		}
	}
}


div.admin-menu {
	width: 190px;
	float: left;
	
	div.r {
		padding-left: 10px;
	}
}

div.admin-content {
	margin: 0 10px 15px 205px;
	
	div.r {
		padding: 10px 15px 15px 15px;
		background: white;
		.box_shadow(0px, 0px);
		.border_radius(5px);
	}
}

div.admin-footer {
	clear: both;
	background: #253842;
	color: #F0F0F0;
	text-align: center;
	font-size: 9pt;
	
	div.r {
		padding: 5px 0;
	}
	
	a {
		color: #F0F0F0;
		text-decoration: underline;
	}
}

// меню
@color4: #6C8A99; // цвет фона заголовка
@color5: #D2F0FF; // цвет текста загловка
@color7: #BAC6CC; // цвет фон текущий элемент
@color6: #395766; // цвет текст текущий элемент



ul.admin-menu {
	list-style: none;
	margin-left: 0;
	
	li {
		line-height: 1.5em;
		
		a {
			display: block;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	// заголовок блока
	li.admin-menu-top > a {
		background: @color4;
		color: @color5;
		font-size: 12pt;
		padding: 5px 0 5px 5px;
		
		margin-bottom: 7px;
		
		.text_shadow(1px, 1px, 1px, #333);		
		.border_radius(2px);
		.box_shadow(0, 1px);
		
		&:before {content: "☉ "}
	}
	
	ul.admin-submenu {
		list-style: none;
		margin-left: 0px;
		
		li {
			a {
				padding: 1px 0 1px 7px; 
			}
			
			a:hover {
				background: darken(@color7, 10%);
				.border_radius(5px);
				color: @color6;
			}
			
			a:before {
				font-family: FontAwesome;
				content: "•";
				width: 20px;
				display: inline-block;
				color: #40607C;
				font-size: 1.2em;
			}
			
			&.admin-menu-selected a {
				color: @color6;
				background: @color7;
				.border_radius(5px);
				
				&:hover {
					background: darken(@color7, 10%);
				}
			}
			

			// иконки по пунктам из шифта FontAwesome
			// http://fortawesome.github.com/Font-Awesome/#all-icons
			&.admin-menu-options a:before { content: "\f013"; }
			&.admin-menu-files a:before { content: "\f019"; }
			&.admin-menu-page_new a:before { content: "\f040"; }
			&.admin-menu-page a:before { content: "\f03a"; }
			&.admin-menu-cat a:before { content: "\f02c"; }
			&.admin-menu-home a:before { content: "\f05a"; }
			&.admin-menu-logout a:before { content: "\f08b"; }
			&.admin-menu-go_site a:before { content: "\f064"; }
			&.admin-menu-sidebars a:before { content: "\f0ae"; }
			&.admin-menu-plugins a:before { content: "\f08d"; }
			&.admin-menu-template_options a:before { content: "\f09d"; }
			&.admin-menu-comments a:before { content: "\f086"; }
			&.admin-menu-comusers a:before { content: "\f007"; }
			&.admin-menu-users_group a:before { content: "\f0e3"; }
			&.admin-menu-users_my_profile a:before { content: "\f005"; }
			&.admin-menu-users a:before { content: "\f0c0"; }
			
			&.admin-menu-theme_switch a:before { content: "\f074"; }
			&.admin-menu-plugin_antispam a:before { content: "\f0e9"; }
			&.admin-menu-plugin_down_count a:before { content: "\f012"; }
			&.admin-menu-guestbook a:before { content: "\f0e5"; }
			&.admin-menu-redirect a:before { content: "\f0c1"; }
			&.admin-menu-plugin_ushki a:before { content: "\f085"; }
			&.admin-menu-samborsky_polls a:before { content: "\f087"; }
			&.admin-menu-plugin_sape a:before { content: "\f0d6"; }
			&.admin-menu-plugin_feedburner a:before { content: "\f09e"; }
			&.admin-menu-plugin_optionsloginza_auth a:before { content: "\f090"; }
			
		}
	}
}



td.section {
	
	background: none !important;
	padding: 0;
	border: none !important;
	
	h2 {
		background: #395766;
		color: #EBD4D7;
		margin:0;
		padding: 0 5px;
		font-size: 11pt;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
		.border_radius(5px, 5px, 0, 0);
	}
	
	p {
		color: #404040;
		font-style: italic;
		background: #EEEEEE;
		margin: 0 0 15px 0;
		padding: 5px;
	}

}


div.admin-h-menu {
	
	padding: 5px;
	margin: 0 0 10px 0;
	.border_radius(5px);
	
	@color1: #D6DEE2;
	background: #6C8A99;
	
	color: @color1;
	
	a {
		color: @color1;
	}
	
	a.select {
		color: lighten(@color1, 20%);
		font-weight: bold;
	}
}


p.nav {
	color: white;
	font-size: 0;
	line-height: 25px;
	margin: 0;
	
	a {
		background: #EEE;
		padding: 5px 5px;
		margin: 0 3px;
		font-size: 10pt;
		.border_radius(5px);
		white-space: nowrap;
		
		&:hover {
			background: #9DAEB6;
			text-decoration: none;
			color: #395766;
		}
		
		&.current {
			background: #6C8A99;
			color: #fff;
			
			&:hover {
				background: #9DAEB6;
			}
		}
	}
}


table.page {

	tr:nth-child(odd) td {
		background-color: #f0f0f0;
	}
	
	tr:hover {
		td {background-color: #f6f6f6;}
	}
	
	td {
		border: none;
		border-bottom: 1px solid #E0E0E0;
		padding-top: 7px; 
		padding-bottom: 7px; 
	}
	
	th {
		background: #BDC8CE;
		border-color: #F0F0F0;
		border-top: none;
		border-bottom: none;
		padding: 7px; 
		text-align: left;
	}
	

	input[type="text"], 
	input[type="email"], 
	input[type="password"], 
	input[type="url"], 
	input[type="search"], 
	input[type="number"], 
	textarea,
	select {
		width: 99%;
	}
	
}

// сортировка в таблицах
table.tablesorter { 
	th {
		
		&.header {
			cursor: pointer;
			background-image: url(images/tablesorter/bg.gif); 
			background-repeat: no-repeat;
			background-position: center right;
			
			padding-right: 20px;
		}
		
		&.headerSortUp { 
			background: #A6B3B9 url(images/tablesorter/asc.gif) no-repeat right center; 
		}
		
		&.headerSortDown {
			background: #A6B3B9 url(images/tablesorter/desc.gif) no-repeat right center; 
		}
	
	}
	
	
}

// создание и редактирование записей
table.new_or_edit {
	
	td {
		border: none;
	}
	
	td.editor_and_meta {
		
		padding: 0 15px 0 0;
	
		input.f_header {
			width: 99%;
			font-size: 1.5em;
			margin: 5px 0;
			padding: 3px;
			background: #F0F0F0;
			.border(#3C769D);
		}
		
		div.page_meta {
			
			h3 {
				margin: 25px 0 0 0;
			}
			
			p {
				margin: 0;
			}
			
			div {
				background: #F0F0F0;
				padding: 5px;
				margin: 10px 0;
				.border(1px, #C7C7C7);
				.border_radius(10px);
				
				h3 {
					margin: 0;
					font-size: 10pt;
				}
			}
			
			input[type="text"], 
			input[type="email"], 
			input[type="password"], 
			input[type="url"], 
			input[type="search"], 
			input[type="number"], 
			textarea,
			select {
				width: 99%;
			}
			
		}
	}
	
	td.page_info {
		width: 230px;
		padding: 0;
		font-size: 9pt;
		
		div.block_page {
			padding: 0 5px;
			margin: 0 0 15px 0;
			
			background: #F0F0F0;
			.border(1px, #738992);
			.border_radius(10px);

		
		}
		
		h3 {
			margin: 0 -5px 5px -5px;
			font-size: 10pt;
			
			padding: 3px 7px;
			.border_radius(5px, 5px, 0, 0);
			
			@color: #CCD7DC;
			
			color: @color;
			background: darken(@color, 40%);
			.text_shadow(1px, 1px, 1px, darken(@color, 80%));
		}
		
		div.cat_page {
			ul {
				list-style-type: none; 
				margin: 0 0 5px 0;
				
				li {
					margin: 5px 5px 0 3px;
					font-weight: bold;
				}
				
				li li {
					font-weight: normal;
					margin: 3px 5px 0 20px;
					font-size: .9em;
				}
				
				li label {
					display: block;
					margin-left: -3px;
					padding-left: 3px;
				}
				
				li label:hover {
					background: #C7C7C7;
					.border_radius(5px);
				}
				
				
			}
		}
	}
}

// сайдбары
textarea.admin_sidebars {
	width: 99%;
}

table.widgets-allow {
	width: auto;
	
	td {
		border: none;
	}
}

// виджеты
div.admin-edit-widgets-form {
	
	h3 {
		background: #B3C2C9;
		color: #D2F0FF;
		margin: 5px 0 8px 0;
		padding: 5px 10px;
		font-size: 10pt;
		
		.border_radius(5px);
		.box_shadow(0, 1px);
		&:before {
			content: "▶ "; 
			color: #395766;
		}
		
		a {
			color: #41535C;
			margin-left: 5px;
		}
	}
	
	p {
		margin: 0;
	}
	
	div.admin_widgets {
		
		@bg_color: #F8F8FF;
		
		background: @bg_color;
		
		.background_gradient(darken(@bg_color, 3%), @bg_color);
		
		.border_radius(5px);
		.border(#B3C2C9);
		
		padding: 15px 5px 15px 5px;
		margin: -2px 0 10px 0;
		
		div.t150 {
			width: 180px;
			float: left;
			font-weight: bold;
			text-align: right;
			padding-right: 5px;
		}
		
		
		input[type="text"], 
		input[type="email"], 
		input[type="password"], 
		input[type="url"], 
		input[type="search"], 
		input[type="number"], 
		textarea,
		select {
			min-width: 600px;
		}
		
	}
}

// форма для виджетов
// подстройка полей
form.admin_widgets {
	p {
		@first: 200px; // размер первой ячейки или отступ (+5 на padding)
		
		span, label {

			// ширина первой ячейки
			&.ffirst {
				width: @first;
			} 
			
			// корректировка для двойного класса ffirst.ftitle
			&.ffirst.ftitle {
				width: @first - 5px;
			} 
			
			&.ftitle {
				font-weight: bold;
			}
			
			&.ftop {
				padding-top: 1px;
			}
		}
	}
}

// загрузки - миниатюры
div.float-parent {
	div.cornerz {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 15px 0;
		min-height: 165px;
		width: 200px;
		text-align: center;
		
		div.wrap {
			overflow: hidden;
			
			label {
				font-weight: bold;
				white-space: nowrap;
				font-size: .8em;
			}
			
			em { // описание 
				font-size: 1em;
			}
			
			i.date { // дата
				display: block;
				color: gray;
			}
			
			a.lightbox { // ссылка с картинкой
				display: block;
				margin: 5px 0 0 0;
				
				img {
					max-width: 180px;
					.box_shadow(0px, 0px);
				}
			}
			
			// ссылки для копирования
			p { 
				margin: 5px 0 0 0;
			}
		}
	}
	
	// выбор шаблона сайта
	div.template {
		
		display: inline-block;
		vertical-align: top;
		margin: 0 35px 15px 0;
		min-height: 165px;
		width: 250px;
		text-align: center;
		
		img {
			.border(1px, #DDD);
		}
	}
}

// загрузки форма
form.admin_uploads_form {
	input {
	
	}
}

// шаблон текущий
img.template_current {
	.box_shadow(0px, 0px);
	.border_radius(5px);
}

// блок выбора шаблона
div.options_templates {
	margin-top: 40px;
}

// ушки
div.ushki {
	margin: 0 0 10px 0;
	padding: 10px 10px 1px 10px;
	background: #BAC6CC;
	.border_radius(10px);
	
	textarea {
		width: 99.3%;
		height: 250px;
	}
	
	p.ushki_title {
		margin: 0;
	}
}

// таблица неактивных плагинов
table.inactive-plugins {
	color: gray;
	a {
		color: gray;
	}

}

// отступ в форме
form.fform {
	p.br {
		padding: 15px 0 0 0;
	}
}

// опции плагинов информация
div.admin_plugin_options_info {
	padding: 0;
	margin: 0;
	
	h3 {
		margin: 10px 0 0 0;
		background: #BDCBD2;
		padding: 3px 5px;
	}
	
	p {
		margin: 0 0 5px 0;
		padding: 0;
		font-style: italic;
	}
}

// форма редактирования комментария
form.comment_edit {
	textarea {
		width: 100%;
		height: 200px;
	}
}

// комментарии
form.admin_comments {
	span {
		&.admin {
			color: blue; 
			font-weight: bold;
		}
		
		&.comuser {
			color: green; 
			font-weight: bold;
		}
		
		&.anonymous {
			color: maroon; 
		}
	}
}

// рубрики 
table.cats {
		input[type="submit"]{
			width: 100%;
		}
}

// системные сообщения 
div.update {
	padding: 10px; 
	background: #C7F3A6; 
	margin: 5px 0;
	.border_radius(10px);
}

div.error {
	padding: 10px; 
	background: #FFD2D2; 
	margin: 5px 0;
	.border_radius(10px);
}

p.info {
	color: #6D6D6D;
}

// список записей - фильтры
p.admin_page_filtr {
	
	line-height: 2em; 
	font-size: .8em;
	
	a {
		background: #E7ECEF;
		.border_radius(3px);
		padding: 3px 5px;
		white-space: nowrap;
		
		&:hover, &.current {
			background: #6C8A99;
			text-decoration: none;
			color: white;
		}
		
		&.no_filtr {
			background: none;
			
			&:hover {
				color: #6C8A99;
			}
		}
	}
}

// подсветка несуществующих опций
span.red {
	color: red;
}

// страница авторов
form.admin_users {
	p {
		.ftitle {
			width: 100px;
			.bold;
		}
	}
}

// пагинация
div.pagination {
	
	margin: 15px 0;
	
	strong {
		background: #6C8A99; 
		color: white;
		padding: 3px 5px;
		.border_radius(5px);
	}
	
	a {
		padding: 3px 5px;
		text-decoration: none;
		.border_radius(5px);
	}
	
	a:hover {
		background: #6C8A99; 
		color: white;
	}
	
}


// маленькое меню
/*
div.admin-menu {
	width: 38px;
	overflow: hidden;
	
	div.r {
		white-space: nowrap;
	}
	
	li > a.admin-menu-section {display: none;}
	
}

div.admin-content {
	margin-left: 50px;
}

*/
