// MaxSite CMS 
// Copyright http://max-3000.com/
// подключать - @import url('responsive/responsive-max-767.less');

// поддержка адаптивного дизайна
// здесь все элементы, что меняются по размеру 

div.all-wrap {
	width: 100%;
}

div.content {
	width: 100%;
	float: none;
	
	div.content-wrap {
		margin: 20px;
	}
}

div.sidebar1 {
	width: 100%;
	float: none;
	
	div.sidebar1-wrap {
		margin: 0;
		padding: 20px;
		background: #f0f0f0;
	}
}

div.onerow {
	.col {
		float: none;
		margin-left: 0;
		width: 100%
	} 
}

img {
	max-width: 100%;
	height: auto;
}
