/*user css (this edit)*/
.category_with_pages_widget .is_link {
	background:#eee;
}
.category_with_pages_widget .is_link a {
	font:12px/1.2em Arial, Helvetica, sans-serif;
	text-align:left; 
	padding: 10px 20px 10px 10px;
	text-decoration:none;
	color:#666;
}
.category_with_pages_widget .is_link a:hover { 
	background:#f7f7f7; 
	color:#000; 
	text-decoration:none; 
	text-shadow:none;
}
.category_with_pages_widget .is_link .active { 
	background:#f7f7f7; 
	color:#000;
}
.category_with_pages_widget .is_link ul { 
	padding:0; 
	background:#eee;
	border:1px solid #ccc;
	border-radius:5px;
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.category_with_pages_widget .is_link ul li { 
	padding:0; 
	margin:0;
	border:0;
}
.category_with_pages_widget .is_link ul a {
	border-radius: 5px; 
}
.category_with_pages_widget .is_link ul ul { padding:0; margin:0;}
.arrow-left {
	border-right-color:#eee; 
	left:-4px; 
}
.arrow-left2 {
	border-right-color:#ccc; 
	left:-5px; 
}
.toLeft .arrow-left {
	border-left-color:#eee;
	right:-4px; 
}
.toLeft .arrow-left2 {
	border-left-color:#ccc;
	right:-5px; 
}
.arrow-right {border-left-color:#666;}