/*bind css (not edit)*/
.category_with_pages_widget .is_link {margin: 0; padding: 0; position: relative; word-spacing: -0.25em; }
.category_with_pages_widget .is_link li {border-bottom:1px solid #253b7c;  display:block; list-style: none; margin: 0; padding: 0; text-align: left; vertical-align: top; word-spacing: normal; //zoom: 1;}
.category_with_pages_widget .is_link>li:last-child { border:0} 
.category_with_pages_widget .is_link a {color: #253b7c; display: block; font: 12pt/1.2em Arial, Helvetica, sans-serif; padding: 10px 10px 10px 10px; text-align: left; text-decoration: none; position:relative; -webkit-transition:background-color 0.3s 0s ease-out;-moz-transition:background-color 0.3s 0s ease-out;-ms-transition:background-color 0.3s 0s ease-out;-o-transition:background-color 0.3s 0s ease-out;transition:background-color 0.3s 0s ease-out; }
.category_with_pages_widget .is_link a:hover { background: #fff;  color: #000; text-decoration: none; text-shadow: 0 1px 0 #fff; }
.category_with_pages_widget .is_link .active { background: #fff; color: #000; }
.category_with_pages_widget .is_link ul li { display: block; list-style: none; margin: 0; padding: 0;  border:0; width:100%;}
.category_with_pages_widget .is_link ul a { display: block; border-radius: 5px;  }
.category_with_pages_widget .is_link ul a:hover { background: #eee; }
.category_with_pages_widget .is_link ul { background: #ffffff; border: 1px solid #c2c2c2; border-radius: 5px; box-shadow: 0 5px 10px rgba(0,0,0,0.2); top: 0; display: none; left: 0; margin: 0; //margin: 1px 0 0 0; padding: 0; position: absolute; top: 0; z-index:2; //zoom:1;}
.category_with_pages_widget .arrow-left { border-bottom: 5px solid transparent; border-right: 5px solid #fff; border-top: 5px solid transparent; height: 0; left: -4px; position: absolute; top: 0; width: 0; z-index: 1; }
.category_with_pages_widget .arrow-left2 { border-bottom: 5px solid transparent; border-right: 5px solid #c2c2c2; border-top: 5px solid transparent; height: 0; left: -5px; position: absolute; top: 0; width: 0; z-index: 0; }
.category_with_pages_widget .toLeft .arrow-left { border-left: 5px solid #fff; border-right: 0; left: auto; right: -4px; }
.category_with_pages_widget .toLeft .arrow-left2 { border-left: 5px solid #c2c2c2; border-right: 0; left: auto; right: -5px; }
.category_with_pages_widget .arrow-right {width: 0; height: 0; border-top: 4px solid transparent;border-bottom: 4px solid transparent;	border-left: 4px solid #666; position:absolute; top:13px; right:8px;}