/*user css (this edit)*/
.category_with_pages_widget .is_link {
	background:#000;
}
.category_with_pages_widget .is_link a {
	font:12px/1.2em Arial, Helvetica, sans-serif;
	text-align:left; 
	padding: 10px 20px 10px 10px;
	text-decoration:none;
	color:#989898;
	
}
.category_with_pages_widget .is_link a:hover { 
	background:#666; 
	color:#fefefe; 
	text-decoration:none; 
	text-shadow:none;
}
.category_with_pages_widget .is_link .active { 
	background:#666; 
	color:#fefefe;
}
.category_with_pages_widget .is_link ul { 
	padding:0; 
	background:#000;
	border:1px solid #666;
	border-radius:5px;
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.category_with_pages_widget .is_link ul li { 
	padding:0; 
	margin:0;
}
.category_with_pages_widget .is_link ul a {
	border-radius:5px;
}
.arrow-left {
	border-right-color:#000; 
	left:-4px; 
}
.arrow-left2 {
	border-right-color:#666; 
	left:-5px; 
}
.toLeft .arrow-left {
	border-left-color:#000;
	right:-4px; 
}
.toLeft .arrow-left2 {
	border-left-color:#666;
	right:-5px; 
}
.arrow-right {
	top:13px; 
	right:8px;
	border-left-color:#989898;
}